.first-container {
padding: 10px;
border: 1px;
position: absolute;
width: 290px;
height: 1080px;
left: 0px;
top: 0px;
background: #111111;
border-radius: 0px 50px 0px 0px;
}

#card {
position: relative;
left: 20%;
top: 5.56%;
bottom: 91.3%;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 62px;
color: #FFFFFF;
}

#transactions {  
position: absolute;
width: 97px;
height: 19px;
left: 73px;
top: 160px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 19px;
letter-spacing: -0.02em;
color: #BABEC8;
opacity: 0.6;
}

#cards {
 position: absolute;
width: 200px;
height: 19px;
left: 73px;
top: 232px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 19px;
letter-spacing: -0.02em;
color: #FFFFFF;
}

#itai {
position: absolute;
width: 120px;
height: 19px;
left: 89px;
top: 850px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 19px;
color: #FFFFFF;
}

#gmail {
position: absolute;
width: 137px;
height: 15px;
left: 89px;
top: 890px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
color: #BABEC8;

}
#settings {
position: absolute;
width: 62px;
height: 19px;
left: 93px;
top: 940px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 25px;
letter-spacing: -0.02em;
color: #FFFFFF;
mix-blend-mode: normal;
}

#logout {
position: absolute;
width: 53px;
height: 19px;
left: 93px;
top: 990px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 25px;
letter-spacing: -0.02em;
color: #FFFFFF;
}

.line {
border: 1px solid #9598A0;
position: absolute;
width: 227px;
height: 0px;
left: 33px;
top: 850px;
}

#vector {
  position: absolute;
  left: 10.93%;
  right: 97.03%;
  top: 5.37%;
  bottom: 91.2%;
}

#transaction {
position: absolute;
left: 12%;
top: 16.5%;
}

#bankcard {
position: absolute;
width: 20px;
height: 15px;
left: 35px;
top: 267px;
}

#settingicon {
 position: absolute;
width: 20px;
height: 15px;
 left: 35px;
 top: 300px;
}

.second-container {
  display: flex;
  flex-direction: column;
}

.greencard {
  float: left;
  overflow: hidden
}
#textcard {
position: absolute;
left: 19.17%;
right: 76.56%;
top: 3.52%;
bottom: 93.33%;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 34px;
color: #111111;
}

#cardimage {
width: 20%;
position: absolute;
left: 17.17%;
right: 64.43%;
top: 15.44%;
bottom: 70%;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
border-radius: 12px;

}

#balance {
    position: absolute;
    left: 20.73%;
    right: 72.71%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 17px;
    color: #FFFFFF;
    top: 220px;
    width: 100%;
    

}
#money {
 position: absolute;
height: 26px;
left: 20.73%;
right: 71.72%;
top: calc(50% - 26px/2 - 381px);
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 34px;
top: 250px;
color: #FFFFFF;
}

#numbers {
position: absolute;
height: 24px;
left: 20.73%;
right: 67.45%;
top: 300px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.5px;
 color: #FFFFFF;
}

#name {
position: absolute;
height: 15px;
left: 20.78%;
right: 77.29%;
top: 340px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
letter-spacing: 0.5px;
text-transform: uppercase;
color: #FFFFFF;
}

#valid {
position: absolute;
height: 15px;
left: 27.81%;
right: 68.23%;
top: 340px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
letter-spacing: 0.5px;
text-transform: uppercase;
color: #FFFFFF;
}

#cvv {
position: absolute;
height: 15px;
left: 32.76%;
right: 65.89%;
top: 340px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
letter-spacing: 0.5px;
text-transform: uppercase;
color: #FFFFFF;
}

#itaibr {
position: absolute;
height: 19px;
left: 20.78%;
right: 74.69%;
top: 360px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.5px;
color: #FFFFFF;
}

#date { 
position: absolute;
height: 13px;
left: 27.6%;
right: 70.16%;
top: 360px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-align: right;
letter-spacing: 0.5px;
color: #FFFFFF;
}

#cvvnumber {
position: absolute;
height: 17px;
left: 32.66%;
right: 65.83%;
top: 360px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.5px;
color: #FFFFFF;
}

#card2 {
  width: 20%;
box-sizing: border-box;
position: absolute;
left: 44.19%;
right: 55.41%;
top: 16.44%;
bottom: 73.52%;
border: 2px dashed #6B6F7B;
border-radius: 12px;
}

#plus {
position: absolute;
left: 53.76%;
right: 26.76%;
top: 28.41%;
bottom: 27.11%;
}

#round {
 position: absolute;
left: 53.40%;
right: 26.76%;
top: 27.60%;
bottom: 27.50%;
}

#add {
position: absolute;
height: 19px;
width: 145px;
left: 51.55%;
right: 51.77%;
top: 330px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 19px;
color: #6B6F7B;
}

#transactions2 {
position: absolute;
left: 19.17%;
right: 71.46%;
top: 41.3%;
bottom: 65.56%;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 34px;
color: #111111;
}

#searching {
display: block;
position: absolute;
left: 19.35%;
right: 74.27%;
top: 33.59%;
bottom: 60.83%;
border-radius: 15%;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 200px;
color: #313A4E;
}

.third-container {
display: flex;
align-items: center;
flex-direction: column;
}

#searching {
box-sizing: border-box;
position: absolute;
width: 190px;
height: 42px;
left: 450px;
top: 550px;
background: #FFFFFF;
border: 1.5px solid #E1E1E1;
border-radius: 8px;
  }

#lupa {
float: right;
position: absolute;
width: 16px;
height: 16px;
left: 570px;
top: 562px;
}

#pay {
box-sizing: border-box;
font-size: 20px;
position: absolute;
width: 157px;
height: 42px;
left: 701px;
top: 550px;
background: #FFFFFF;
border: 1.5px solid #E1E1E1;
border-radius: 8px;
}

#plug {
position: absolute;
left: 36%;
top: 563px;
 }

#employee {
box-sizing: border-box;
position: absolute;
width: 157px;
height: 42px;
left: 741px;
top: 396px;
box-sizing: border-box;
position: absolute;
width: 157px;
height: 42px;
left: 901px;
top: 550px;
background: #FFFFFF;
border: 1.5px solid #E1E1E1;
border-radius: 8px;
color: #313A4E;
font-size: 20px;
}

#emp {
position: absolute;
left: 44.39%;
top: 51%;
}


#status {
box-sizing: border-box;
font-size: 20px;
position: absolute;
width: 157px;
height: 42px;
left: 1111px;
top: 550px;
background: #FFFFFF;
border: 1.5px solid #E1E1E1;
border-radius: 8px;
}

#statussvg {
position: absolute;
left: 53.5%;
top: 50.87%;
bottom: 60.65%;
}

#top {
box-sizing: border-box;
font-size: 20px;
position: absolute;
width: 157px;
height: 42px;
left: 1331px;
top: 550px;
background: #FFFFFF;
border: 1.5px solid #E1E1E1;
border-radius: 8px;
}

#topsvg {
position: absolute;
left: 63.06%;
right: 45.1%;
top: 50.87%;
 bottom: 60.65%
}

#sort {
box-sizing: border-box;
font-size: 20px;
position: absolute;
width: 157px;
height: 42px;
left:2004px;
top: 550px;
background: #FFFFFF;
border: 1.5px solid #E1E1E1;
border-radius: 8px;
}

#svgsort {
  position: absolute;
  width: 16px;
  height: 8px;
  left: 2125px;
  top: 568px;
}

.fouth-container{
display: flex;
flex-direction: column;
top: 40em;
right: 15px;
width: 80%;
position: absolute;
}

footer {
position: absolute;
bottom: 0;
right: 0;
}

ul.pagination { 
display: inline-flexbox;
padding: 0;
margin: 0;
}

.pagination {
border: 1px solid #ddd;
width: 100%;
text-align: center;
padding: 10px;
margin: 10px auto;
}

ul.pagination li {
display: inline;
}

ul.pagination li a {
color: black;
float: left;
padding: 8px 16px;
text-decoration: black;
border-radius: 50%;
display: block;
text-decoration: none;
color: #555;
background: -moz-linear-gradient(#fafafa,#dadada) repeat scroll 0 0 transparent;
background: -webkit-gradient(linear,left top,left bottom,from(#fafafa),to(#dadada));
background: -o-linear-gradient(#fafafa,#dadada);
background: -ms-linear-gradient(top,#fafafa 0%,#dadada 100%);
border: 1px solid #ccc;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
border-radius: 50%;
height: 28px;
width: 28px;
line-height: 26px;
text-shadow: none;
top: -1px;
-webkit-box-shadow: 0 0 0 1px #f4f4f4,1px 1px 3px #ddd;
-moz-box-shadow: 0 0 0 1px #f4f4f4,1px 1px 3px #ddd;
box-shadow: 0 0 0 1px #f4f4f4,1px 1px 3px #ddd;
}

table {
width: 100%;
position: absolute;
border: 2px solid rgb(200,200,200);
border-collapse: collapse;
letter-spacing: 1px;
font-size: 15px;
color: black;
background-color: white;
}

thead {
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
}

td, th {
color: black;
border:solid rgb(190,190,190);
padding: 15px 33px;
}

#itaiicon {
position: absolute;
width: 44px;
height: 44px;
left: 33px;
top: 870px;
}

#smth {
position: absolute;
left: 14.54%;
right: 1.54%;
top: 88%;
bottom: 0%;
}

#two {
position: absolute;
left: 15.22%;
right: 0%;
top: 92.93%;
bottom: 20.93%;  
}

#one {
position: absolute;
left: 12.9%;
right: 48.1%;
top: 92.6%;
bottom: 0.17%;
}

#grayellipce {
position: absolute;
width: 42px;
height: 42px;
left: 2200px;
top: 550px;
}

#line1 {
position: absolute;
width: 40px;
height: 0px;
left: 791px;
top: 567px;
border: 2px solid #E1E1E1;
transform: rotate(90deg);
}

#line2 {
position: absolute;
width: 40px;
height: 0px;
left: 979px;
top: 567px;
border: 2px solid #E1E1E1;
transform: rotate(90deg);
}

#line3 {
position: absolute;
width: 40px;
height: 0px;
left: 1200px;
top: 567px;
border: 2px solid #E1E1E1;
transform: rotate(90deg);
}

#line4 {
position: absolute;
width: 40px;
height: 0px;
left: 1410px;
top: 567px;
border: 2px solid #E1E1E1;
transform: rotate(90deg);
}

#line5 {
position: absolute;
width: 40px;
height: 0px;
left: 2089px;
top: 567px;
border: 2px solid #E1E1E1;
transform: rotate(90deg);
}

#upload {
position: absolute;
left: 96.09%;
right: 18.64%;
top: 51%;
bottom: 19.3%;
}

#green {
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: right;
color: #17E383;
}

 #figma {
 display: flex;
 float: left;
 padding-right: 20px
 }

 #adobe {
 display: flex;
 float: left;
 padding-right: 20px
 }

 #wix {
  display: flex;
  float: left;
  padding-right: 20px
  }

#mail {
  display: flex;
  float: left;
  padding-right: 20px
  }

#youtube {
  display: flex;
  float: left;
  padding-right: 20px
  }
 