html { 
  margin: -8px;
}
.navbar {
  display: flex;
  flex-direction: column;
  background: #111111;
  border-radius: 0px 50px 0px 0px;
  color: #FFFFFF;
  width: 290px;
  height: 100%;
  position: fixed;
  justify-content: space-between;

}
a:focus{
  color:whitesmoke;
}
a:hover {
  color: rgb(45, 180, 45);
}

a {
  cursor: pointer
}
.navbar-item {
  padding: 25px 0px 0px 35px;
}

.ul {
  padding: 0;
  margin-top: 50px;
}

.li {
  margin-bottom: 50px;
}

.title-1 {
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 34px;
color: #FFFFFF;
}

.title-2 {
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;
color: #BABEC8;
opacity: 0.6;
}

.title-3 {
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;
color: #FFFFFF;
}

li{
margin-bottom: 15px;
list-style-type: none;
}

.nav-profile {
  display: flex;
  align-items: center;
}

.navbar-svg {
  margin-right: 10px;
}
.ul-item {
  padding: 0;
  margin-bottom: 30px;
}

.image-profile {
width: 44px;
height: 44px;
margin-right: 10px;
}

.main-text{
  margin-top: 30px;
  font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 34px;
color: #111111;
}

.profile-text > p {
  margin-top: 0;
  margin-bottom: 0;
}

.main-container {
  margin-left: 290px;
  padding: 10px 77px 0 77px;
}

.container-with-buttons {
  margin-left: 290px;
  padding: 10px 77px 0 77px;
}

.greencard {
background: linear-gradient(138.85deg, #0ACF83 20.79%, #0BB967 83.47%);
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
border-radius: 12px;
width: 315px;
height: 184px;
display: flex;
flex-direction: column;
justify-content: space-around;
}

 .card-number {
  font-size: 23px;
 }
 
 .number {
  font-size: 28px;
  line-height: 34px;
 }

.greencard-item {
margin: 0 10px;
}

.empty-card-item{
align-self: center;
display: flex;
}

.visa {
display: flex;
justify-content: space-between;
margin-top: 10px;
margin-bottom: 10px;
align-items: flex-start;
}

.card-information {
display: flex;
justify-content: space-between;
}

.card-information-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-information-item > p {
margin-top: 0;
margin-bottom: 0;
}

.empty-card {
border: 2px dashed #6B6F7B;
border-radius: 12px;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
border-radius: 12px;
width: 315px;
height: 184px;
display: flex;
flex-direction: column;
justify-content: space-around;
}

main {
display: flex;
justify-content: flex-start;
gap: 50px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 17px;
color: #FFFFFF;
}

div.main-text {
  padding-bottom: 15px;
}

.transaction-options {
  display: flex;
  justify-content: space-between;
}

.five-items {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
}

.two-items {
  display: flex;
  flex-direction: row;
  width: 12%;
    justify-content: space-between;
}
.gray {
  background-image: url(../images/grayellipse.png);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

input {
  display: flex;
  background: #FFFFFF;
border: 3.5px solid #E1E1E1;
border-radius: 8px;
}

.search-input {
display: flex;
align-items: center;
}

.searching {
background: #FFFFFF;
border: 3.5px solid #E1E1E1;
border-radius: 8px;
height: 80%;
margin-right: -50px;
}

.btn {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
width: 133%;
height: 42px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
}

.btn-2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

button {
  box-sizing: border-box;
background: #FFFFFF;
border: 3.5px solid #E1E1E1;
border-radius: 8px;
width: 150%;
height: 100%;
align-self: start;
}

.table-container {
  display: flex;
}

header {
  margin-top: -15px;
}

div.table-container {
  margin-top: 20px;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.pagination a {
  margin: 5px;
background: #FFFFFF;
border: 1px solid #6B6F7B;
border-radius: 48px;
float: right;
padding: 10px 17px;
text-decoration: none;
color: #555;
height: 20px;
width: 5px;
line-height: 20px;
}

.table-head {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #6B6F7B;
  padding: 10px;
}

table {
padding: 33px;
background: #FFFFFF;
border-radius: 30px 30px 0px 0px;
width: 100%;
box-shadow:  inset 1px 0px 10px rgb(154 147 140 / 50%);
letter-spacing: 1px;
font-size: 15px;
color: black;
}

.table-head {
  border-bottom: 2px solid #D9D9D9;
  width: 50px;
}

.pending {
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: right;
color: #17E383;
}

td, th {
color: black;
font-size: 15px;
padding: 5px;
font-family: 'Inter';
font-style: normal;
}

.table-text > p {
  margin-top: 5px;
  margin-bottom: -5px;
}

.table-td {
  display: flex;
  flex-direction: row;
}

.table-td-item {
  padding: 10px;
}

.bold-text {
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
color: #313A4E;
}

.td-text> P {
  
  margin-top: 5px;
  margin-bottom: -5px;
}

#searchsvg {
  position: relative;
    left: 155px;
}